@model IEnumerable<MVMVC_EF.Models.Project>

@{
    ViewData["Title"] = "Index";
}

<h1>Liste des @Model.Count() projets</h1>

<p>
    <a asp-action="Create">Ajouter un nouveau projet</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="col-md-3">
                    <a asp-action="Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                </td>
                <td class="col-md-6">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="col-md-3">
                    <a asp-action="Edit" asp-route-id="@item.Id">Modifier</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>
