@model MVC_EF1.Models.Group

@{
    ViewData["Title"] = "Delete";
}

<h1>Suppression du groupe @Model.Number (@Model.Name)</h1>

<h3>Êtes-vous sûr de vouloir supprimer ce groupe ?</h3>
<div>
    <h4>Groupe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Technology)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Technology)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.IdProject)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Project.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
    </form>
    <a asp-action="Index">Retour à la liste</a>
</div>
