@model MVMVC_EF.Models.Person

@{
    ViewData["Title"] = "Details";
}

<h1>Détails de l'étudiant @Model</h1>

<div>
    <h4>Etudiant</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Sex)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ITLevel)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.ITLevel)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Group)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Group.Name)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Group.Project)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Group.Project.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Modifier</a> |
    <a asp-action="Index">Retour à la liste</a>
</div>

<h5 class="offset-sm-2">
    Adresses
</h5>
<p class="offset-sm-2">
    <a asp-controller="Address" asp-action="Create" asp-route-id="@Model?.Id">Nouvelle adresse</a>
</p>
@if (Model.PersonAddresses.Any())
{
    <table class="table offset-sm-2">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PersonAddresses.FirstOrDefault().Address.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PersonAddresses.FirstOrDefault().Address.FullAddress)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PersonAddresses)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address.FullAddress)
                    </td>
                    <td>
                        <a asp-controller="Address" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-controller="Address" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-controller="Address" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="text-warning offset-sm-2">Aucune adresse à afficher pour cette personne</p>
}

