@model MVC_EF2.Models.Group

@{
    ViewData["Title"] = "Details";
}

<h1>Détails du groupe (ID: @Model.Id)</h1>

<div>
    <h4>Groupe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Technology)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Technology)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.IdProject)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Project.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Modifier</a> |
    <a asp-action="Index">Retour à la liste</a>
</div>
